{% set vendor = 'assets/vendor/' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{title}} </title>

        <!-- Default styleshet -->
        <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
        
        <!-- Page styleshet -->
		{% for css in style %}<link rel="stylesheet" href="{{css}}">
		{% endfor %}
    </head>
    <body>
    
        {% block content %} {% endblock %}

    </body>

    <!-- Page script -->
	{% for js in script %}<script src="{{js}}"></script>
	{% endfor %}

</html>
